body {
    font-family:Arial, Helvetica, sans-serif;
}

.linkbar {
   position:absolute;
   top:10px;
   right:20px;
}

#imagelink {
    padding-inline-end:20px;
}

.container {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    padding:5px;
}

#img {
    position:absolute;
    top:-8em;
    left:50%;
    transform: translate(-50%, 0%);
    width: auto;
}

.input-field {
    width:45em;
    height:4em;
    border-color: lightgrey;
    border-radius: 2em;
    border-style: solid;
    border-width: 0.1em;
}

input:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.input-field:focus {
    outline:none;
    border-style: solid;
    border-color: lightgrey;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-indent: 20px;
}

.button {
    position:absolute;
    top:5em;
    left:50%;
    transform: translate(-50%, 0%);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    border:1px solid lightgray;
    box-shadow: 2px 2px 1px 0.5px #f8f9fa;
}
  
  .text-image-align {
    position: absolute;
    top:-3.75em;
    right:-8em;
    color:dodgerblue;
    font-size:medium;
}

#bar-img {
    height:3em;
    width:auto;
    margin:15px;

}

.advanced-title {
    font-size: 20px;
    color:#d93025;
}

.adv-small {
    font-size: 12px;
    color:grey;
}

.adv-large {
    font-size:16px;
}

.text-grey {
    font-size:12;
    color:grey;
    font-weight: 500;
}
