<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class="linkbar">
            <a id="imagelink" href="./image.html" alt="Google logo">Google Image Search</a>
            <a id="advancedlink" href="./advanced.html">Advanced Search</a>
        </div>
        <div class="container">
            <img class="title-image" id="img" src="../static/Images/googlelogo_color_272x92dp.png">
            <div class="container">
                <form action="https://www.google.com/search">
                    <input class="input-field" type="text" name="q" autocomplete="off">
                    <input class="button" type="submit" value="Google Search" id="search_btn">
                    <input class ="button" type="submit" value="I'm feeling lucky" name="btnI" id="lucky_btn">
                </form>
            </div>
        </div>
    </body>
</html>